.header__body {
}
.container {
}
.header__body-inner {
}
.header__main--center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.heading__title {
}
.heading {
}
.documents__heading {
}
.documents__heading-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 131%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}
.documents__content {
  width: 100%;
  text-align: center;
}
.documents__list {
  display: inline-block;
  margin: 30px 0;
}
.documents__item {
  text-align: left;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 23px;
  line-height: 31px;
  color: rgba(0, 0, 0, 0.7);
}
.documents__link{

  transition: all .3s;

}
.documents__link:hover{
  color: goldenrod;
  transition: all .3s;

}

.header__main--center--smotritel {
  display: block;
}
.heading__title--smotritel {
  margin-bottom: 10px;
}

.documents__heading-title--smotritel {
  font-weight: 500;
  font-size: 45px;
  line-height: 131%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.documents__heading-subtitle--smotritel {
  font-weight: 400;
  font-size: 40px;
  line-height: 131%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}
