/* DEFAULT STYLE */
.main__news {
  padding-bottom: 100px;
  padding-top: 60px;
}

.news__content {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 30px;
}
.header__main--center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.news__heading-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 131%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.main__katolog {
  padding: 60px 0;
}
.product-card {
  width: 380px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
}
.header__main--center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.katolog__heading-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 131%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}
.katolog__content {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 30px;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  /* padding: 50px; */
  background: #fff;
}

.product-tumb img {
  max-width: 100%;
  max-height: 130%;
}

.product-details {
  padding: 20px 10px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  /* width: 50%; */
}

.product-data {
  font-size: 14px;
  color: #2b2925;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}

@media (max-width: 1500px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.349);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
  .overlay--show {
    visibility: visible;
    opacity: 1;
  }
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
  .burger--follow {
    box-shadow: 0 1px 8px #a1a1a1;
    background-color: #fff;
    top: 15px;
    right: 15px;
  }
  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
    margin: 4px 0;
  }
  .burger::before,
  .burger::after {
    display: block;
    content: "";
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
  }
  .header {
    padding-top: 92px;
  }
  .header__top {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    min-width: 320px;
    transform: translateX(100%);
    transition: all 0.3s;
  }
  .header__top--open {
    transform: translateX(0%);
  }
  .header__top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 100px 0;
  }
  .header__logo {
    margin: 0 0 30px 0;
  }
  .header__nav {
    text-align: center;
    margin: 0 auto;
    flex-grow: 1;
  }
  .header__nav-list {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .header__nav-item {
    margin: 0;
  }
  .header__nav-item:first-child {
    margin: 0;
  }

  .header__nav-item:last-child {
    margin: 0;
  }
  .header__nav-link {
    display: block;
    padding: 30px;
  }
}

@media (max-width: 1450px) {
  .news__content {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
  }
}
@media (max-width: 700px) {
  .product-card {
    width: 260px;
  }
}

@media (max-width: 850px) {
  .news__content {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
  }
  .product-card {
    width: 310px;
  }
}
@media (max-width: 700px) {
  .news__content {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(1, 1fr);
    justify-items: center;
  }
  .product-card {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .product-card {
    width: 310px;
  }
}
