.header__body {
}
.container {
}
.header__body-inner {
}
.header__main--center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading__title {
  margin-bottom: 60px;
}
.heading {
}
.points__heading {
}
.points__heading-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 131%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.map {
  height: 700px;
  background: #626262;
}
[class*="copyrights-pane"] {
  /* display: none !important; */
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.map:hover [class*="copyrights-pane"] {
  opacity: 1;
}

/* Создать свою карту */
[class*="gototech"] {
  display: none !important;
}

[class*="ground-pane"] {
  /* filter: grayscale(1) sepia(10%); */
}

/* Baloon */

[class*="balloon__layout"],
[class*="balloon__content"] {
  background-color: #242b33 !important;
  color: #fff !important;
}

[class*="balloon__tail"]::after {
  background-color: #242b33 !important;
}

[class*="balloon_layout_panel"] {
  background-color: #242b33 !important;
}

[class*="balloon__layout"],
[class*="balloon__content"] a {
  color: #fff !important;
}

[class*="balloon__close-button"] {
  background: url("./../images/map/cross.svg") 50% no-repeat !important;
  width: 15px !important;
  height: 15px !important;
  margin: 10px 7px;
}

.ymaps-2-1-79-map {
  -webkit-box-shadow: 4px 4px 8px 9px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 9px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 9px rgba(34, 60, 80, 0.2);
}
